$color1: #001529;
$color2:#1890ff;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Avatar {
  @include flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 10px;
  .pic {
    @include flex;
    flex-basis: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      width: 65px;
      height: 90px;
    }
  }
  .name {
    flex-basis: 100%;
    max-width: 100px;
    text-align: center;
    font-size: 1.2rem;
    color: $color2;
    ;
  }
}
